:80 {
    # Redirect all HTTP requests to HTTPS
    redir https://{host}{uri} 302
}

:443 {
    # Set the root directory for your website
    root * /var/www/html

    # Enable the static file server
    file_server

    # Redirection rules
    redir /posts /posts/1 302
    redir /thoughts /thoughts/1 302

    # Automatically get and serve certificates from Let's Encrypt
    tls zqqcee@163.com

    # Uncomment and configure this if you are reverse proxying to a service
    # reverse_proxy localhost:8080
}
