---
import dayjs from 'dayjs';
import { motion } from 'framer-motion';
import PostLink from './PostLink';
import BlurFade from '../ui/BlurFadeIn.tsx';
import PostItem from './PostItem.astro';
// const allPosts = await Astro.glob('../../pages/posts/*.md');
const { posts } = Astro.props;
---

<div class="flex flex-col justify-start gap-4 w-full backdrop-blur-md">
	{
		posts
			.sort((a, b) => (dayjs(a.frontmatter.date).isBefore(dayjs(b.frontmatter.date)) ? 1 : -1))
			.map((article, i) => {
				return (
					<BlurFade className="flex justify-start gap-2 items-center" client:load delay={0.1 * i}>
						<PostItem
							title={article.frontmatter.title}
							href={article.url}
							date={dayjs(article.frontmatter.date).format('YYYY/MM/DD')}
							desc={article.frontmatter.description}
							tags={article.frontmatter.tags}
						/>
					</BlurFade>
				);
			})
	}
</div>
