.serif {
	font-family: 'Noto Serif SC,serif';
}

.sm-menu-item {
	@apply text-white px-4 mt-10 text-xl font-bold font-serif w-full mx-auto flex justify-center gap-2 items-center;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #2e2e34 #161e31;
}
