<footer class="py-8 text-center text-xs text-gray-400 flex flex-col gap-4">
	<div>Copyright © 2019-2024 zqqcee</div>
	<div class="flex justify-center gap-4">
		<div>湘ICP备2024087863号-1</div>
		<div>湘ICP备2024087863号-1</div>
	</div>
</footer>
