<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
<div class="text-white">lorem</div>
