---
import React from 'react';
import Navigation from './Nav/Navigation';
import avatar from '../../public/avatar.jpeg';
import Signatrue, { SignatureLogo } from './Signature';
const { title } = Astro.props;
import SMNavigation from './Nav/SMNavigation';
---

<div
	id="header"
	class="hidden w-full lg:flex items-center box-border fixed top-0 inset-x-0 z-[9] mx-auto px-40 py-3 backdrop-blur-3xl"
>
	<div class="flex-1 justify-center items-center">
		<a href="/"><img src={avatar.src} class="rounded-2xl object-fill bg-cover w-11 h-11" /></a>
	</div>
	<div class="grow flex justify-center">
		<Navigation client:load />
	</div>
	<div class="flex flex-1 row-end-1 justify-center gap-4">
		<SignatureLogo />
		<Signatrue />
	</div>
</div>
<div
	id="header"
	class="lg:hidden flex w-full items-center box-border fixed top-0 inset-x-0 z-[9] mx-auto px-10 py-3 backdrop-blur-3xl justify-between"
>
	<div class="flex-1 justify-start items-center">
		<a href="/"><img src={avatar.src} class="rounded-2xl object-fill bg-cover w-11 h-11" /></a>
	</div>
	<div class="text-white"><SMNavigation client:load /></div>
</div>
<script>
	// 渐变背景
	const progressiveBorder = () => {
		const offsetY = window.scrollY;
		const dom = document.querySelector('#header');
		if (!dom) return;
		if (offsetY < 20) {
			dom.classList.remove('backdrop-blur-3xl');
		} else if (!dom.classList.contains('backdrop-blur-3xl')) {
			dom.classList.add('backdrop-blur-3xl');
		}
		if (offsetY < 400) {
			dom.style['border-bottom'] = `1px solid rgb(75,85,99,${offsetY / 400})`;
		} else {
			dom.style['border-bottom'] = `1px solid rgb(75,85,99)})`;
		}
	};
	document.addEventListener('astro:page-load', progressiveBorder);
	document.addEventListener('scroll', progressiveBorder);
</script>
