---
import avatar from '../../public/avatar.jpeg';
---

<img src={avatar.src} class="rounded-full object-fill bg-cover w-16 h-16 my-8" />
<div class="prose text-white">
	<p>你好，我是周千超，我正在使用Astro重新编写我的博客</p>
	<p>我不知道这会消耗我多长时间，因为我CSS实在是太菜了</p>
</div>
