---
import FriendsCard from './FriendsCard.astro';

const { friends } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6">
	{
		friends.map((friend) => {
			return <FriendsCard friend={friend} />;
		})
	}
</div>
