---
import Title from '../Title.astro';
---

<div
	class="prose text-white text-xl w-full font-serif"
	style={{ fontFamily: '"Noto Serif SC",serif' }}
>
	<Title title="关于本站" className="text-start" />
	<p>Options are my own</p>
	<p>一个小角落，在这个浮躁的时代</p>
</div>
