---
import Title from '../Title.astro';
---

<div class="prose text-white text-xl w-full font-serif">
	<Title title="关于本站" className="text-start" />
	<p>你好呀👋，欢迎来到这里！</p>
	<p>如你所见，这是我重新开发的博客网站。随意逛逛吧</p>
</div>
