---
import Title from '../Title.astro';
---

<div class="prose text-white text-xl w-full">
	<Title title="关于本站" className="text-start" />
	<p>你好👋，我是周千超，我正在使用Astro重新编写我的博客</p>

	<p>我不知道这会消耗我多长时间，因为我CSS实在是太菜了</p>
</div>
