---
import Footer from '@/components/Footer.astro';
import SunSet from '@/components/Grace/SunSet.astro';
import BlurFade from '@/components/ui/BlurFadeIn';
import Header from '@/components/Header.astro';
const { width = 'max-w-6xl', showNeon = true, title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/avatar.jpeg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>zqqcee</title>
	</head>
	<body class="bg-slate-900">
		<main class="min-h-screen">
			{showNeon && <SunSet />}
			<Header title={title} />
			<slot />
		</main>
		<Footer />
	</body>
</html>
