---
import Footer from '@/components/Footer.astro';
import SunSet from '@/components/Grace/SunSet.astro';
import BlurFade from '@/components/ui/BlurFadeIn';
import Header from '@/components/Header.astro';
const { width = 'max-w-6xl', showNeon = true, title } = Astro.props;
console.log(`mx-auto mt-[100px] max-w-${width}`);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>zqqcee</title>
	</head>
	<body class="bg-slate-900">
		{showNeon && <SunSet />}
		<Header title={title} />
		<BlurFade client:load className=`mx-auto ${width} my-20 px-10`>
			<slot />
		</BlurFade>
		<Footer />
	</body>
</html>
