---
import Footer from '@/components/Footer.astro';
import SunSet from '@/components/Grace/SunSet.astro';
import BlurFade from '@/components/ui/BlurFadeIn';
import Header from '@/components/Header.astro';
import og from '../../public/og.png';
import { Toaster } from '@/components/ui/toaster';

const { width = 'max-w-6xl', showNeon = true, title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/avatar.jpeg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:image" content={`https://luckycc.cc${og.src}`} />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="luckycc"
			href={new URL('rss.xml', Astro.site)}
		/>
		<title>luckycc</title>

		<!-- Matomo -->
		<script is:inline>
			var _paq = (window._paq = window._paq || []);
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function () {
				var u = 'https://luckycc.matomo.cloud/';
				_paq.push(['setTrackerUrl', u + 'matomo.php']);
				_paq.push(['setSiteId', '1']);
				var d = document,
					g = d.createElement('script'),
					s = d.getElementsByTagName('script')[0];
				g.async = true;
				g.src = 'https://cdn.matomo.cloud/luckycc.matomo.cloud/matomo.js';
				s.parentNode.insertBefore(g, s);
			})();
		</script>
	</head>
	<body class="bg-slate-900">
		<main class="min-h-screen">
			{showNeon && <SunSet />}
			<Header title={title} />
			<slot />
		</main>
		<Toaster client:load />
		<Footer />
	</body>
</html>
