---
import Footer from '@/components/Footer.astro';
import SunSet from '@/components/Grace/SunSet.astro';
import BlurFade from '@/components/ui/BlurFadeIn';
import Navigation from '@/components/Navigation';
import Header from '@/components/Header';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>zqqcee</title>
	</head>
	<body class="bg-black">
		<SunSet client:load />
		<Header client:load />
		<BlurFade client:load className="mx-auto my-10 max-w-[750px]">
			<slot />
		</BlurFade>
		<Footer />
	</body>
</html>
