---
import BlurFade from '../components/ui/BlurFadeIn';
import HomeLayout from './HomeLayout.astro';
import dayjs from 'dayjs';
const { frontmatter } = Astro.props;
console.log(frontmatter);
const title = frontmatter.title;
---

<HomeLayout showNeon={true} width="max-w-2xl" isPost title={title}>
	<div class="flex flex-col gap-8 max-w-5xl text-white">
		<div class="text-3xl font-bold leading-tight text-white mb-2">
			<h1>{frontmatter.title}</h1>
		</div>
		<div class="flex gap-4 items-center">
			<div class="font-bold text-gray-300 text-lg">
				{dayjs(frontmatter.date).format('YYYY-MM-DD')}
			</div>
		</div>
		<div
			class="prose dark:prose-invert
	  prose-h1:font-bold max-w-full prose-h1:text-xl prose-h4:text-white
	  prose-a:text-cyan-300 prose-a:font-semibold prose-p:text-justify prose-img:rounded-xl ::prose-marker: text-white"
		>
			<slot />
		</div>
	</div>
</HomeLayout>
